
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}


/* SLIDERS */


.slider {
    width: 200px;
    height: 10px;
}

.slider-box {
    position: relative; 
    z-index: 1;
    background: rgba(255, 255, 255, 0.8); 
    border: 1px solid black; 
    padding: 10px;
    width: 220px;
    margin: 10px;
    top: 100;
    left: 0%;
}


/* BUTTONS */


.homebutton {
    position: relative;
    display: block; 
    margin: 10px auto; 
    width: 150px; 
    text-align: center;
    top: 400px;
}

.eulerbutton {
    position: relative;
    display: block; 
    margin: 10px auto; 
    width: 150px; 
    text-align: center;
    top: 280px;
}

.helpbutton {
    position: relative;
    margin: 10px;
    width: 150px;
    text-align: center;
    top: -275px;
    left: 90%
}

.button {
    position: relative;
    display: block; 
    margin: 10px auto; 
    width: 150px; 
    text-align: left;
    top: 400px;
}


/* PENDULUM */


.rope {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 250px;
    background: black;
    transform-origin: top center;
    transform: translateX(-50%) rotate(15deg); 
}

.ball {
    position: relative;
    top: 250px; 
    left: 50%;
    width: 20px;
    height: 20px;
    background: brown;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.ball2 {
    position: relative;
    top: 250px; 
    left: 50%;
    width: 20px;
    height: 20px;
    background: blue;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.pendulum-container {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: -200px;
    left: 0%;
}

.arch {
    position: absolute;
    top: 0; 
    left: 50%;
    width: 500px;
    height: 250px;
    border: 2px dashed gray;

    border-top: none;
    border-radius: 0 0 250px 250px;

    clip-path: polygon(37.5% 0, 62.5% 100%, 37.5% 100%);
    transform: translateX(-50%);
    pointer-events: none;
}

.pendulum {
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
}


.pendulum-container-e {
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 50px;
    left: -20%;
    z-index: 1;
}

.pendulum-e1 {
    position: absolute;
    top: 0; 
    left: 65%;
    transform: translateX(-50%);
}

.pendulum-e2 {
    position: absolute;
    top: 0; 
    left: 35%;
    transform: translateX(-50%);
}


/* SETTINGS */


.settings-box {
    position: relative;
    left: 40px;
    top: 0%;
    width: 250px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.settings-box h3 {
    margin-bottom: 15px;
    color: #333;
}

.checkbox {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.checkbox input {
    margin-right: 8px;
}


.settings-box-e {
    position: absolute;
    left: 1250px;
    top: 40px;
    width: 250px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 100;
}

/* FUNCTION */

.graph-box {
    position: relative;
    width: 500px;
    height: 300px;
    top: -500px;
    left: 1000px;
    background: white;
    border: 1px solid #ccc;
}

.graph-box-e {
    position: absolute;
    width: 500px;
    height: 300px;
    top: 50%;
    left: 1000px;
    background: white;
    border: 1px solid #ccc;
}

.x-axis {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
    transform: translateY(-50%);
}

.y-axis {
    position: absolute;
    top: 0;
    left: 0%;
    width: 1px;          
    height: 100%;        
    background: black;
    transform: translateX(-50%); 
}
 
#graphCanvas {
    width: 100%;
    height: 100%;
}

/* PERIOD */

.period-container {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 50%;
    left: 5%;
    background: white;
    border: 1px solid #ccc;
    padding: 1px;
}

.period-container-e {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 60%;
    background: white;
    border: 1px solid #ccc;
    padding: 1px;
}

#period1 {
    top: 5%;
}

#period2 {
    top: 15%;
}

.expected-period-e {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 20%;
    top: 15%;
}
